.Button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 2px 2px 1px rgba(#000, .3);
  }

  &:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
  }

  &.success {
    background: rgba(greenyellow, .3);
  }

  &.error {
    background: rgba(coral, .3);
  }

  &.primary {
    background: rgba(deepskyblue, .3);
  }
}