.AnswerItem {
  border: 1.4px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background: rgba(#fff, .15);
  }

  &.success {
    border: 1.4px solid greenyellow;
    color: greenyellow;
  }

  &.error {
    border: 1.4px solid coral;
    color: coral;
  }
}