.FinishQuiz {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  i {
    margin-left: 7px;
  }

  .success {
    color: greenyellow;
  }

  .error {
    color: coral;
  }
}