.MenuToggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  z-index: 1000;
  transition: all .3s ease;

  &:hover {
    opacity: .7;
  }

  &.open {
    left: 320px;
  }
}